<!-- Display -->
<!-- <h2>{{ctrl.panel.text}}</h2> -->
<!-- {{ctrl.panel.loading}}
{{ctrl.time}} -->
<!-- {{ctrl.panel.switchButton}} -->
<div class="dam-control-panel">
  <!-- <button type="button" class="dam-control-btn btn" ng-if="ctrl.panel.switchButton" ng-click="ctrl.sendData(1)" ng-style="{'color': ctrl.panel.textColor,
  'background-color': ctrl.panel.bgColor,
  'font-size': ctrl.panel.fontSize,'max-height': ctrl.height}"> -->

  <div ng-if="ctrl.panel.switchButton" ng-click="ctrl.sendData(1)"
    ng-class="{'dam-control-grid-image': ctrl.panel.imgOnly, 'dam-control-grid-text': ctrl.panel.textOnly, 'dam-control-grid': ctrl.panel.textImg   }"
    ng-style="{'color': ctrl.panel.textColor,
  'background-color': ctrl.panel.bgColor,'max-height': ctrl.height}">

    <img class="dam-control-image" ng-if="ctrl.panel.img && !ctrl.panel.loading" ng-src="{{ctrl.panel.img}} "
      ng-style="{'max-height': (ctrl.height * ctrl.panel.imgGridPer) /100}">

    <!-- ng-style="{'width':ctrl.panel.imgSize}"> -->
    <!-- ng-style="{'width': ctrl.width-150}" -->
    <!-- ng-style="{'max-height': ctrl.height}" -->

    <div id="sp_load" ng-if="ctrl.panel.loading" class="dam-control-sp-loading"
      ng-style="{'max-height': ctrl.height, 'width':ctrl.panel.imgSize,'height':ctrl.panel.imgSize}">
    </div>

    <div ng-if="ctrl.panel.textButton " class="dam-control-text"
      ng-style="{'font-size': ctrl.panel.fontSize ,'max-height': (ctrl.height * textGridPer) /100}">
      {{ctrl.panel.textButton}}
    </div>

  </div>

  <!-- </button> -->

  <!-- <button
  ng-if="(!((ctrl.panel.damOptions.control == 'relay' && ctrl.panel.damOptions.mode != 'toggle')
  ||
  (ctrl.panel.damOptions.control != 'relay' && ctrl.panel.damOptions.switchMode != 'toggle')))&&!ctrl.panel.switchButton"
  type="button" class="btn" ng-click="ctrl.sendData(2)" style="height:100%;width:100%;padding: 3%;" ng-style="{'color': ctrl.panel.textColor2,
  'background-color': ctrl.panel.bgColor2,
  'font-size': ctrl.panel.fontSize2}"> -->

  <div
    ng-if="(!((ctrl.panel.damOptions.control == 'relay' && ctrl.panel.damOptions.mode == 'on')
  ||
  (ctrl.panel.damOptions.control != 'relay' && ctrl.panel.damOptions.switchMode != 'toggle')))&&!ctrl.panel.switchButton"
    ng-click="ctrl.sendData(1)"
    ng-class="{'dam-control-grid-image': ctrl.panel.imgOnly2, 'dam-control-grid-text': ctrl.panel.textOnly2, 'dam-control-grid': ctrl.panel.textImg2   }"
    ng-click="ctrl.sendData(2)" ng-style="{'color': ctrl.panel.textColor2,
  'background-color': ctrl.panel.bgColor2,'max-height': ctrl.height}">

    <img class="dam-control-image" ng-if="ctrl.panel.img2 && !ctrl.panel.loading2" ng-src="{{ctrl.panel.img2}} "
      ng-style="{'max-height': (ctrl.height * ctrl.panel.imgGridPer2) /100}">

    <!-- ng-style="{'width':ctrl.panel.imgSize}"> -->
    <!-- ng-style="{'width': ctrl.width-150}" -->
    <!-- ng-style="{'max-height': ctrl.height}" -->

    <div id="sp_load" ng-if="ctrl.panel.loading2" class="dam-control-sp-loading"
      ng-style="{'max-height': ctrl.height, 'width':ctrl.panel.imgSize,'height':ctrl.panel.imgSize}">
    </div>

    <div ng-if="ctrl.panel.textButton2 " class="dam-control-text"
      ng-style="{'font-size': ctrl.panel.fontSize2 ,'max-height': (ctrl.height * textGridPer2) /100}">
      {{ctrl.panel.textButton2}}
    </div>
  </div>
  <!-- </button> -->

  <!-- <div ng-repeat="first in ctrl.firstValues">
  <b>{{first.key}}:</b> {{first.value}}
</div> -->
</div>
<style>
  .dam-control-panel {
    width: 100%;
    height: 100%;
    /* display: flex; */
    justify-content: center;
    align-items: center;

    /* flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    align-items: auto;
    align-content: start */


  }

  .dam-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 80% 20%;
    gap: 1px 1px;
    grid-template-areas: "dam-control-image""dam-control-text";
  }


  .dam-control-image {
    grid-area: dam-control-image;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }

  .dam-control-text {
    grid-area: dam-control-text;
    text-align: center;
    max-width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-size: 4vw;
  }

  .dam-control-btn {
    height: 100%;
    width: 100%;
    padding: 3%;
  }

  .dam-control-grid {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 80% 20%;
    gap: 1px 1px;
    grid-template-areas: "dam-control-image""dam-control-text";
  }

  .dam-control-grid-image {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100%;
    gap: 1px 1px;
    grid-template-areas: "dam-control-image";
  }

  .dam-control-grid-text {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100%;
    gap: 1px 1px;
    grid-template-areas: "dam-control-text";
  }

  .dam-control-sp-loading {
    display: inline-block;
    margin: auto;
    /* width: 100px;
    height: 100px; */
    border: 10px solid rgba(255, 255, 255, .3);
    border-radius: 50%;
    border-top-color: #fff;
    animation: spin 1s ease-in-out infinite;
    -webkit-animation: spin 1s ease-in-out infinite;
  }

  @keyframes spin {
    to {
      -webkit-transform: rotate(360deg);
    }
  }

  @-webkit-keyframes spin {
    to {
      -webkit-transform: rotate(360deg);
    }
  }
</style>