<!-- Display -->
<!-- <h2>{{ctrl.panel.text}}</h2> -->
{{ctrl.panel.loading}}
{{ctrl.time}}
<button type="button" class="btn" ng-click="ctrl.sendData()" style="height:100%;width:100%;padding: 3%;" ng-style="{'color': ctrl.panel.textColor,
  'background-color': ctrl.panel.bgColor,
  'font-size': ctrl.panel.fontSize}">

  <div class="flex-container">
    <img id="img1" ng-if="ctrl.panel.img && !ctrl.panel.loading" ng-src="{{ctrl.panel.img}}"
      ng-style="{'width':ctrl.panel.imgSize}">
    <div id="sp_load" ng-if="ctrl.panel.loading" class="sp-loading"></div>
    <div>
      {{ctrl.panel.textButton}}
    </div>
  </div>
</button>
<div ng-repeat="first in ctrl.firstValues">
  <b>{{first.key}}:</b> {{first.value}}
</div>

<style>
  .sp-loading {
    display: inline-block;
    width: 100px;
    height: 100px;
    border: 9px solid rgba(255, 255, 255, .3);
    border-radius: 50%;
    border-top-color: #fff;
    animation: spin 1s ease-in-out infinite;
    -webkit-animation: spin 1s ease-in-out infinite;
  }

  @keyframes spin {
    to {
      -webkit-transform: rotate(360deg);
    }
  }

  @-webkit-keyframes spin {
    to {
      -webkit-transform: rotate(360deg);
    }
  }
</style>