<div class="editor-row">


  <h5 class="section-heading">DAM Connection</h5>
  <div class="gf-form-group">
    <div class="gf-form">
      <label class="gf-form-label width-8">URL</label>
      <input type="text" class="input-large gf-form-input" placeholder="URL" ng-model="ctrl.panel.damUrl"
        ng-change="ctrl.onConfigChanged()" ng-model-onblur />
    </div>
    <div class="gf-form">
      <label class="gf-form-label width-8">Serial Number</label>
      <input type="text" class="input-large gf-form-input" placeholder="DAM SN" ng-model="ctrl.panel.damSn"
        ng-change="ctrl.onConfigChanged()" ng-model-onblur />
    </div>
    <!-- <div class="gf-form">
      <span class="gf-form-label width-6">Method</span>
      <div class="gf-form-select-wrapper width-9">
        <select class="gf-form-input" ng-model="ctrl.panel.method" ng-options="t for t in ['GET', 'POST']"
          ng-change="ctrl.updateTemplate(); ctrl.onConfigChanged()"></select>
      </div>
    </div> -->
  </div>
</div>